html {
  font-size: 16px;
  /* Now 1rem equals 16px */

  @media screen and (max-width: 899px) {
    font-size: 13px;
  }
}

.fs5 {
  font-size: 0.5rem;
}

.fs7 {
  font-size: 0.7rem;
}

.fs10 {
  font-size: 1rem;
}

.fs12 {
  font-size: 1.2rem;
}

.fs13 {
  font-size: 1.3rem;
}

.fs14 {
  font-size: 1.4rem;
}

.fs15 {
  font-size: 1.5rem;
}

.fs20 {
  font-size: 2rem;
}

.fs30 {
  font-size: 3rem;
}

.fs50 {
  font-size: rem;
}

.fs100 {
  font-size: 10rem;
}

:root {
  --main-bg-color: #030617; // #0d0c50;
  --bright-text-color: #fafefe; //#ffffff;
  --light-text-color: #94979e;

  --primary-div-color: #0f172a; //#bfa8bc;

  --secondary-div-color: #22293b;
  --secondary-div-text-color: #8c92a2;

  --button-color: #63f8fe;
  --button-color-base: 99, 248, 254; // Only the components, not the full rgb() string
  --button-bg-color: rgba(var(--button-color-base), 0.2);
  --button-text-color: #000b07;
  --border-color: #111425;
}

body {
  background-color: var(--main-bg-color);
  color: var(--light-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

.section-heading {
  color: var(--bright-text-color);
}

.App {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  padding: 1rem 4rem;

  @media screen and (max-width: 899px) {
    padding: 1rem;
  }
}

.cursor-highlight {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--cursor-x) var(--cursor-y), transparent 10%, rgba(3, 6, 23, 0.3) 20%);

  @media screen and (max-width: 899px) {
    background: none;
  }
}