.Footer {
    padding: 1rem 0.5rem;
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid var(--border-color);

    i {
        color: var(--light-text-color);
        display: inline-block;
        margin: 0.5rem 1rem;
        transition: 0.2s ease;
    }

    i:hover {
        color: var(--bright-text-color);
        transform: translateY(-0.2em) scale(1.2);
    }

    .copyright-name {
        color: var(--bright-text-color);
    }
}