.home-section{
    display: flex;
    justify-content: center;
}

.skill-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-div{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem;
}