.navigation-bar {
    padding: 0.5rem;
    box-shadow: 1px 1px 1px var(--border-color);

    .navbar {
        margin: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;

        .nav-item {
            align-self: center;
            margin: 0 2rem;
        }

        .head-logo {

            // animation: slideFromLeft 1s ease-in;
            @media screen and (max-width: 899px) {
                display: none;
            }
        }

        .nav-links-web {

            // animation: slideFromRight 1s ease-in;
            @media screen and (max-width: 899px) {
                display: none;
            }

            .nav-link {
                padding: 0 1rem;
                text-decoration: none;
                color: inherit;

                i {
                    color: var(--button-color);
                    margin-right: 1rem;
                }
            }

            .nav-link:hover {
                color: var(--button-color);
                transform: translateY(-0.2em) scale(1.2);
            }
        }

        .hambuger-menu {
            @media screen and (min-width: 900px) {
                display: none;
            }

            .menu-icon {
                color: #63f8fe;
            }
        }
    }
}

.head-logo {
    // color: black;
    font-size: 2rem;
}

.logo-container {
    width: 42px;
    height: 42px;
    display: inline-block;

    svg {
        width: 100%;
        height: 100%;
    }
}

.hambuger-menu {
    margin: 0.5rem;
    cursor: pointer;
}

.side-bar-nav {
    position: fixed;
    top: 0;
    background-color: var(--primary-div-color);
    width: 65vw;
    height: 100vh;
    padding: 1.5rem 1rem;
    right: -100%;
    transition: 800ms;
    color: var(--button-color);
    z-index: 10;

    &.active {
        right: 0;
        transition: 300ms;
    }

    .close-side-nav {
        text-align: right;
        margin: 1rem 2rem;
        cursor: pointer;
    }
}

.nav-links-mobile {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    .contact-div {
        text-align: center;
        align-content: center;
        flex-grow: 1;
    }

    .contact-msg {
        color: var(--light-text-color);
        margin-top: 1rem;
    }

    .nav-link {
        margin: 1rem;
        color: var(--light-text-color);

        i {
            color: var(--button-color);
            margin-right: 1rem;
        }

    }
}

// @keyframes slideFromLeft {
//     0% {
//         transform: skew(-43deg) translateX(-300px);
//         opacity: 0;
//     }

//     60% {
//         transform: translateX(0px);
//     }

//     62% {
//         transform: skew(0deg) translateX(30px);
//     }

//     70% {
//         transform: skew(20deg);
//         opacity: 1;
//     }

//     80% {
//         transform: skew(0deg) translate(0);
//     }

//     90% {
//         transform: skew(5deg);
//     }

//     100% {
//         transform: skew(0deg);
//     }
// }

// @keyframes slideFromRight {
//     0% {
//         transform: skew(43deg) translateX(300px);
//         opacity: 0;
//     }

//     60% {
//         transform: translateX(0px);
//     }

//     62% {
//         transform: skew(0deg) translateX(-30px);
//     }

//     70% {
//         transform: skew(-20deg);
//         opacity: 1;
//     }

//     80% {
//         transform: skew(0deg) translate(0);
//     }

//     90% {
//         transform: skew(-5deg);
//     }

//     100% {
//         transform: skew(0deg);
//     }
// }